# * Qualquer coisa. Ex: *.log - ignora todos os arquivos com essa extensão
# ? Um caracter. 
# Intervalos [0-9] ou [a-z]
# ignorar só o que está dentro do diretório: nomeDoDiretório/*
Node/Exercicios/node_modules/
javascript/ajax/node_modules/
javascript/gulp/node_modules/
apiCrud/node_modules/